@import url("http://picsrv.fora.pl/subSilver/subSilver.css");
table.forumline:nth-child(7) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) > span:nth-child(1) > b:nth-child(5) > a:nth-child(1) { display: none; }
table.forumline:nth-child(7) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) > span:nth-child(1) > b:nth-child(3) { display: none; }
